# Clean the Diabetes Dataset

import the libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("f:/4TH SEM/Group Project/Code/data/diabetes.csv")

To know about the meta data of set like rows and columns

In [ ]:
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (100000, 9)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

To get the overview of dataset

In [ ]:
df.info()
df.describe()

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  str
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  str
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), str(2)
memory usage: 6.9 MB

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

To find if there are missing value or not

In [ ]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

# if missing value exists then run below step

For numerical value we run below code

In [ ]:
num_cols = ["age", "bmi", "HbA1c_level", "blood_glucose_level"]

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

For Categorical value we run below code

In [ ]:
cat_cols = ["gender", "smoking_history"]

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

We Validate the medical values for the columns

In [ ]:
df = df[df["bmi"] > 0]
df = df[df["age"] > 0]
df = df[df["blood_glucose_level"] > 0]

To encode the categorical columns into number forms as it is necessary during model training

In [ ]:
df = pd.get_dummies(
    df,
    columns=["gender", "smoking_history"],
    drop_first=True
)

# To Save The Clean Dataset

In [ ]:
df.to_csv("c:/4TH SEM/Group Project/Code/data/cleaned_diabetes.csv", index=False)